@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */


html{
    font-size: 50%;
}

/*--Colors--*/
:root{
   --Brightorange: hsl(31, 77%, 52%);
   --Darkcyan: hsl(184, 100%, 22%);
    --Verydarkcyan: hsl(179, 100%, 13%);
    --para: hsla(0, 0%, 100%, 0.75);
    --bg:hsl(0, 0%, 95%);
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-wrap: wrap;
}

.box{
    width: 23%;
    height: 70%;
}

#box-1{
    background-color: var(--Brightorange);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#box-2{
    background-color: var(--Darkcyan);
}

#box-3{
    background-color: var(--Verydarkcyan);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box img{
    margin: 45px 0px 0px 13%;
    height: 45px;
}

.text-box{
    margin: 2px 13%;
}

.text-box h1{
    color: var(--bg);
    font-family: 'Big Shoulders Display';
    margin: 21px 0px;
    font-size: 35px;
}

.text-box p{
    color: var(--para);
    font-size: 14px;
    line-height: 25px;
    font-family: 'Lexend Deca';
}

.text-box button{
    border: none;
    outline: none;
    margin: 16% 0px 0px 0px;
    padding: 15px 16%;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lexend Deca';
    border: 2px solid white;
    transition: .5s;
}

.text-box #btn-1:hover{
    background-color: transparent;
    color: white;
}

.text-box #btn-2:hover{
    background-color: transparent;
    color: white;
}

.text-box #btn-3:hover{
    background-color: transparent;
    color: white;
}

#btn-1{
    color: var(--Brightorange);
}

#btn-2{
    color: var(--Darkcyan);
}

#btn-3{
    color: var(--Verydarkcyan);
}

@media all and (max-width: 375px){
    .box{
        width: 80%;
        height: 65%;
    }

    #box-1{
        margin-top: 12px;
        border-top-left-radius: 10px ;
        border-top-right-radius: 10px ;
        border-bottom-left-radius: 0px;
    }
    #box-3{
        margin-bottom: 12px;
        border-bottom-left-radius:  10px;
        border-bottom-right-radius: 10px ;
        border-top-right-radius: 0px;
    }
    .attribution{
        bottom: -100%;
    }
}